{% extends "layout.html" %}
{% block page_title %}Sobre el sitio{% endblock %}
{% block body %}
<div class="load_error">
<h1>Developed by</h1>
<a href="http://www.joaclandia.com.ar">Joaquín Sorianello</a>
<br />
<a href="http://humitos.wordpress.com.ar">Manuel Kaufmann</a>
<h1>Powered by:</h1>
<a href="http://flask.pocoo.org/"><img
   src="http://flask.pocoo.org/static/badges/flask-powered.png"
   border="0"
   alt="Flask powered"
   title="Flask powered" /></a>
<br/>
<a href="http://www.python.org"><img src="{{ url_for('static', filename='python.png') }}" /></a>
<br/>
<a href="http://freedns.afraid.org/" name="Free DNS" class="freedns">Free DNS</a>
{% endblock %}
