{% extends "layout.html" %}
{% block body %}
<!-- cambiar para que permita agregar fotos -->
<div class="add_form">
    <h2>Agregar Foto</h2>
    <form action="{{ url_for('agregar_foto') }}" method=post class=add-photo enctype=multipart/form-data>
        <dl>
            <dt>Titulo:
            <dd><input type=text size=50 name=title>
            <dt>Descripcion:
            <dd><textarea name=description rows=5 cols=40></textarea>
            <dt>Archivo:
            <dd><input type=file size=50 name=file>
            <dt>Tags:
            <dd><input type=text size=50 name=tags>
            <dd><input type=submit value=Agregar>
        </dl>
    </form>
</div>
<div class=tags>
<h2>Tags</h2>
<ul>
{% for tag in tags %}
    <li> 
        <a href={{ url_for('photos_by_tag', tag_name=tag.name) }}>{{ tag.name }}</a>
        ({{ tag.count() }})
        <a href={{ url_for('delete_tag', tag_name=tag.name) }} onclick="return confirm('¿Esta seguro que desea borrar el tag {{ tag.name }}?');">Eliminar</a>
    

{% endfor %}
</div>

<div class="admin_menu">
<a href="{{url_for('ver_todas_las_fotos')}}">Ver Todas Las Fotos</a>
</div>
{% endblock %}
