<!doctype html>
<head>
<meta name="description" content="Hernan Pepe Portfolio" />
<meta name="keywords" content="Hernan, Pepe, Fotografía, condor, Photo" />
<meta name="author" content="Hernan Pepe" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="google-site-verification" content="9_6OmCLHS2ZSElRuH_eUAMjuRUJ-Fa95Du0osbb8WvQ" />
<title>{% block page_title %}{% endblock %} | Hernan Pepe Photo</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" />
<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='konami.js') }}"></script>
<script type="text/javascript">
    konami = new Konami()
    konami.load("about");
</script>
</head>
<body>
<div class=page>
    <div class=header>
        <div class=logo>
            <img src={{ url_for('static', filename='logo.png')}}/>
        </div>
        <div class=menu>
            <a href="{{ url_for('portfolio') }}">PORTFOLIO</a>
            <a href="{{ url_for('condor') }}">CONDOR ANDINO</a>
            <a href="{{ url_for('vintage') }}">VINTAGE</a>
            <a href="{{ url_for('press') }}">PRENSA</a>
            <a href="{{ url_for('contact') }}">CONTACTO</a>
        </div>
    </div>
    {% if session.logged_in %}
    <div class=metanav>
            <a href="{{ url_for('logout') }}">log out</a>
    </div>
    {% endif %}
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}
    {% if session.logged_in %}
    <div class=metanav>
            <a href="{{ url_for('logout') }}">log out</a>
    </div>
    {% endif %}
</div>
</body>
