<!doctype html>
<head>
<meta name="description" content="{{ META.description }}" />
<meta name="keywords" content="{{ META.keywords }}" />
<meta name="author" content="{{ META.author }}" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="google-site-verification" content="{{ GOOGLE_SITE_VERIFICATION }}" />
{% block meta_tags %}{% endblock %}
<title>{% block page_title %}{% endblock %}{{ TITLE }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='konami.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='lightview/spinners.js' )}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lightview/lightview.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lightview/lightview.css' )}}"/>

<script type="text/javascript" src="{{ url_for('static', filename='konami.js') }}"></script>

<script type="text/javascript">
    konami = new Konami()
    konami.load("about");
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% block extra_head %}{% endblock %}
</head>
<body>
<div class="page">
    <div class="header">
        <div class="logo">
	  <a href="/"><img src="{{ url_for('static', filename=LOGO)}}" /></a>
        </div>
        <div class="menu">
	  {%- for tag in TAGS %}
            <a href="{{ url_for('photos_by_tag', tag_name=tag.name) }}">{{ tag.display_name }}</a>
          {%- endfor %}
        </div>
    </div>
    {% if session.logged_in %}
    <div class="metanav">
            <a href="{{ url_for('logout') }}">log out</a>
    </div>
    {% endif %}
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}
    {% if session.logged_in %}
    <div class="metanav">
            <a href="{{ url_for('logout') }}">log out</a>
    </div>
    {% endif %}
</div>
</body>
