<!doctype html>
<title>Happy Glorious Photo</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class=page>
    <div class=header>
        <div class=logo>
            <h1>Happy Glorious Photo</h1>
        </div>
        <div class=menu>
            <a href="{{ url_for('portfolio') }}">PORTFOLIO</a>
            <a href="{{ url_for('condor') }}">CONDOR ANDINO</a>
            <a href="{{ url_for('press') }}">PRENSA</a>
            <a href="{{ url_for('contact') }}">CONTACTO</a>
        </div>
    </div>
    <div class=metanav>
        {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">log in</a>
        {% else %}
            <a href="{{ url_for('logout') }}">log out</a>
        {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}
    <div class=metanav>
        {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">log in</a>
        {% else %}
            <a href="{{ url_for('logout') }}">log out</a>
        {% endif %}
    </div>
</div>
