{% extends "layout.html" %}
{% block page_title %}{{ pic.title.capitalize() }}{% endblock %}

{% block meta_tags %}
<meta name="og:title" content="{{ pic.title }}" />
<meta name="og:image" content="{{ SITE }}{{ url_for( 'uploaded_file_thumb', filename=pic.filehash) }}" />
<meta name="og:description" content="{{ pic.description }}" />
<meta name="og:site_name" content="{{ SITE_NAME }}" />
{% endblock %}

{% block body %}

{% include "photo_included.html" %}

<div id="photo-tags">
  <ul id="photo-tags-list">
    {% for tag in pic.tags %}
    <li><a href="{{ url_for('photos_by_tag', tag_name=tag.name) }}">{{ tag.name }}</a></li>
    {% endfor %}
  </ul>
</div>

<ul style="text-align: right; list-style: none;">
  <li><a href="/" id="permalink">Back</a></li>
  <li><a href="{{ url_for('uploaded_file_original', filename=pic.filehash) }}" id="original-size">Tamaño original</a></li>
</ul>

<div class="footer" id="nombre">
{{ pic.title }}
</div>

{% if session.logged_in %}
    <br/>
    <a id="Editar" href="{{ url_for('edit_photo', photo_id=pic.id) }}">Editar</a>
    <a id="Borrar" href="{{ url_for('erase_photo', photo_id=pic.id) }}" onclick="return confirm('¿Esta seguro que desea borrar la foto?');">Borrar</a>
    <a href="{{ url_for('admin') }}">Volver a Panel de Control</a>
{% endif %}

{% if DISQUS.enabled %}
{% include "disqus.html" %}
{% endif %}

{% endblock %}
